        @import url('https://fonts.googleapis.com/css?family=Roboto');
        body {
            position: absolute;
            width: 100%;
            height: 500%;
            background-color: transparent;
            font-family: 'Open Sans', sans-serif;
            font-weight: 300 !important;
            font-size: 1.3em !important;
            a {
                &:focus {
                    outline-width: 1px;
                    outline-color: rgba(28.6%, 38.2%, 74.9%, 0.546);
                    outline-style: dotted;
                    text-decoration: none; // box-shadow: 0px 2px 5px rgba(0, 0, 0, .8);
                }
            }
            #result {
                position: fixed;
                width: 200px;
                height: 50px;
                font-size: 19px;
                color: white;
            }
            nav {
                position: fixed; // display: none;
                overflow: hidden;
                top: -100px; // opacity: .8;
                z-index: 5000; // transition: top .5s height .2s line-height .2s;
                transition: top .5s linear; // box-shadow: 200px 0 100px white;
                &:hover {
                    opacity: 1;
                }
                a {
                    font-size: .9em;
                    transition: all .2s;
                }
            }
            div.section {
                padding: 200px 0px 200px 0px;
                box-sizing: border-box;
            }
            header {
                position: relative;
                height: 20%;
                min-height: 200px; // line-height: 100%;
                background-image: url('../images/slide-1.jpg');
                .title {
                    position: relative;
                    background-color: rgba(128, 128, 128, 70%);
                    top: -95px;
                    font-size: 400%;
                    height: 100px;
                    p {
                        text-shadow: 3px 3px black;
                    }
                }
                .carousel {
                    height: 50%;
                }
                .begin {
                    top: 50px;
                }
                .row {
                    position: absolute;
                    top: 50%;
                    left: 40%;
                    height: 30%;
                    width: 70%;
                    margin: -15% 0 0 -25%;
                }
                .top-slider {
                    position: relative;
                    top: 10% !important;
                    height: 70%;
                    opacity: .7;
                    transition: opacity .2s ease-in-out;
                    &:hover {
                        opacity: .9;
                    }
                }
            }
            .content {
                height: 20%;
                overflow: hidden;
                font-weight: 300;
            }
        }
        
        section {
            padding-top: 100px !important; // box-shadow: inset 30px 00px 30px black;
             ::selection {
                color: transparent;
                text-shadow: 0 0 15px rgba(0, 0, 0, 0.698);
            }
        }
        
        #s2 {
            background-image: url('../images/1380741056_krasivye-oboi-10.jpg');
        }
        
        #s4 {
            background-image: url('../images/entry-image1.jpg');
        }
        
        .fixed {
            position: fixed;
            top: 0;
        }